@charset "utf-8";

.bg { background-image: url("../images/bg_img.jpg"); background-size: cover; }

.wrap { position: relative; padding: 3%; margin:  auto; border-radius: 50px; width: 80%; min-width: 400px; height: 80vh; text-align: center; background: #fff; box-shadow: 4px 4px 4px 4px rgb(15, 103, 177, 0.8); }

.inner_wrap { position: relative; }
.cont { box-sizing: border-box; width: 100%; }
.con_01 { height: 25vh; }
.con_02 { padding: 50px 0; height: 40vh; }
.con_03 { padding: 25px 0; height: 10vh; }

.img_wrap { width: 150px; max-width: 150px; border-radius: 50%; margin: 0 auto; border: 0px solid black; text-align: center; }
.img_wrap > img { width: 100%; height: 100%; }
.title { padding: 5%; text-align: center; }
.title > h1 { font-size: 30px; font-family: "Noto Sans KR", sans-serif; font-weight: 800; font-style: normal; color: #0F67B1; }

.link_box  { vertical-align: middle; margin: 0 auto; width: 90%; }
.link { padding: 10px; text-align:center; border-radius: 50px; border: 1px solid #0F67B1; height: 50px; }
.link + .link { margin-top: 4%; }
.link:hover { background: #0F67B1; }
.link > a {   font-family: "Noto Sans KR", sans-serif; font-weight: 500; font-style: normal; font-size: 20px; }
.link:hover > a { color: #fff; }

.img_wrap01 { width: 100px; margin: 0 auto; }
.img_wrap01 img { width: 100%; }